.detalleItem {
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    background: rgb(255, 204, 153);
    border-style: solid;
    border-color: #ffb366;
    padding: 10px;
    max-width: 300px;
}

.detalleItem a {
    color: black;
    font-size: 12px;
    padding-top: 20 px;
}

.titulo {
    font-size: 30px;
    font-weight: 600;
}

.btn-payment {
    background-color: #f5a453;
    color: black;
    font-size: 18px;
    height: 30px;
    border-radius: 5%;
    padding: 5px;
    text-align: center;
}