.barra-menu {
    display: flex;
    align-items: center;
    height: 100px;
    vertical-align: middle;
    background-color: white;
}

.lista-menu {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
}

.item-menu a {
    display: block;
    color: rgb(49, 179, 49);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    margin-right: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

ul {
    padding: 10px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: rgb(49, 179, 49);
    text-decoration: none;
    display: block;
    text-align: center;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
}