.boton-carrito {
    background-color: rgb(232, 238, 232);
    border-color: rgb(183, 192, 183);
    border-radius: 5%;
    color: black;
    text-align: center;
    margin-top: 20px;
    height: 30px;
}

.boton-cantidad {
    background-color: white;
    border-color: white;
    font-size: 25px;
    color: black;
    text-align: center;
    height: 30px;
    width: 30px;
}

.contenedor {
    margin-top: 20px;
}

.contador {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    max-height: 30px;
}

p {
    margin: 0px;
}