.boton-carrito {
    background-color: #f5b97e;
    border-color: #f1963a;
    border-radius: 5%;
    color: black;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 32px;
}

.boton-cantidad {
    background-color: #f5b97e;
    border-color: #f1963a;
    font-size: 25px;
    color: black;
    text-align: center;
    height: 30px;
    width: 30px;
    margin-top: 5px;
}

.contenedor {
    margin-top: 20px;
}

.contador {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    max-height: 30px;
}

p {
    margin: 0px;
}