.boton-carrito {
    background-color: rgb(49, 179, 49);
    border-color: rgb(49, 179, 49);
    border-radius: 5%;
    color: white;
    text-align: center;
    margin-top: 20px;
    max-height: 60px;
}

.boton-cantidad {
    background-color: white;
    border-color: white;
    font-size: 25px;
    color: rgb(53, 112, 112);
    text-align: center;
    max-height: 30px;
    max-width: 30px;
}

.contenedor {
    margin-top: 20px;
}

.contador {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    max-height: 30px;
}

p {
    margin: 0px;
}