.cartProductsWrapper {
    display: grid;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(49, 179, 49);
    padding-left: 10px;
    width: 600px;
}

.color-negro {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.vaciar-carro {
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
}

.carrito {
    display: grid;
    margin-top: 30px;
    font-size: x-large;
    justify-items: center;
    align-content: center;
}

.nombre {
    font-size: 25px;
    font-weight: 500;
}

.boton-lista {
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 5%;
    padding: 10px;
}

.carrito-vacio {
    text-align: center;
}

.boton-comprar {
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 5%;
    padding: 10px;
}