.cartProductsWrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    border-style: solid;
    border-color: darkslategray;
    outline-style: ridge;
    outline-color: lightslategray;
    outline-width: thick;
    padding-left: 10px;
    width: 400px;
}

.datos-producto {
    display: grid;
    text-align: center;
    justify-content: center;
    width: 200px;
}

.btn-eliminar {
    display: grid;
    text-align: center;
    justify-content: right;
    padding-right: 20px;
    width: 180px;
}

.color-negro {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.vaciar-carro {
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
}

.carrito {
    display: grid;
    margin-top: 30px;
    font-size: x-large;
    justify-items: center;
    align-content: center;
}

.nombre {
    font-size: 32px;
    font-weight: 500;
}

.boton-lista {
    background-color: red;
    color: white;
    font-size: 14px;
    border-radius: 5%;
    padding: 10px;
}

.carrito-vacio {
    text-align: center;
}

.boton-comprar {
    background-color: rgb(49, 179, 49);
    color: white;
    font-size: 14px;
    border-radius: 5%;
    padding: 10px;
}