.productWrapper {
    border: rgb(49, 179, 49) solid;
    padding: 5px;
    text-align: center;
    margin: 10px;
}

.titulo {
    color: black;
    font-weight: 600px;
    text-decoration: none;
}

.productWrapper a {
    text-decoration: none;
}

.precio {
    color: black;
    font-weight: 400px;
    text-decoration: none;
}

div#ZoomOut {
    transition: all 1s;
}

div#ZoomOut img:hover {
    transform: scale(1.1);
}

.grilla {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}