.productWrapper {
    border: rgb(49, 179, 49) 1.5px solid;
    padding: 5px;
    text-align: center;
    margin: 10px;
}

div#ZoomOut {
    transition: all 1s;
}

div#ZoomOut img:hover {
    transform: scale(1.1);
}

.grilla {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}